/**
 * @file
 * Styles for chunks administration.
 */

.field-widget-chunks-default .field-unlimited-table .add-chunk-action-before-row td {
  padding: 0;
}
.field-widget-chunks-default .field-unlimited-table .add-chunk-action-before {
  margin: 0;
  height: 24px;
  line-height: 24px;
}

.field-widget-chunks-default .field-unlimited-table tr.draggable {
  display: block;
  position: relative;
  border-left: 0;
  padding: 10px 0 24px;
}
.field-widget-chunks-default .field-unlimited-table tr.draggable td.item {
  width: 100%;
}
.field-widget-chunks-default .field-unlimited-table .add-chunk-action-after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  margin: 0;
}

.field-widget-chunks-default .field-unlimited-table .add-chunk-action-before input.form-submit,
.field-widget-chunks-default .field-unlimited-table .add-chunk-action-after input.form-submit {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  background: #ccc;
  color: #fff;
}
.field-widget-chunks-default .field-unlimited-table .add-chunk-action-before input.form-submit:hover,
.field-widget-chunks-default .field-unlimited-table .add-chunk-action-after input.form-submit:hover {
  background: #bbb;
}

.field-widget-chunks-default .chunk-type-selection .fieldset-wrapper {
  padding: 10px 13px 0 15px;
}

